<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tinnovat.app.daj">

    <uses-permission android:name="com.androidtutorialpoint.mymapsappsdirection.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAlatLwlGxwDed7curNyJhpeuzWHha6lsg" />

        <activity
            android:name=".features.authentication.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.authentication.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

         <activity
            android:name=".features.dashboard.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".testing.TestActivity"
            android:screenOrientation="portrait">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <serviceCategory android:name="android.intent.serviceCategory.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".features.services.ServicesActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.features.dashboard.MainActivity" />
        </activity>
        <activity
            android:name=".features.services.ServiceBookingActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".features.complaint.RegisterComplaintActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.features.complaint.MyComplaintListActivity" />
        </activity>
        <activity
            android:name=".features.bookings.MyBookingActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.features.dashboard.MainActivity" />
        </activity>
        <activity
            android:name=".features.foodAndTaxi.OrderTaxiActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.features.dashboard.MainActivity" />
        </activity>
        <activity
            android:name=".features.foodAndTaxi.OrderFoodActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.features.dashboard.MainActivity" />
        </activity>
        <activity
            android:name=".features.surveillance.SurveillanceActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.features.dashboard.MainActivity" />
        </activity>
        <activity
            android:name=".features.complaint.MyComplaintActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.complaint.MyComplaintActivity" />
        </activity>
        <activity
            android:name=".features.complaint.MyComplaintListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.features.dashboard.MainActivity" />
        </activity>
        <activity
            android:name=".features.futurePhase.FuturePhaseInfoListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.features.dashboard.MainActivity" />
        </activity>
        <activity
            android:name=".features.futurePhase.FuturePhaseInfoDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.features.futurePhase.FuturePhaseInfoListActivity" />
        </activity>
        <activity
            android:name=".features.eventAndNews.EventNewsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.dashboard.MainActivity" />
        </activity>
        <activity
            android:name=".features.eventAndNews.EventDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.features.eventAndNews.EventNewsActivity" />
        </activity>

        <activity
            android:name=".features.contact.EmergencyContactActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.features.dashboard.MainActivity" />
        </activity>
        <activity
            android:name=".features.bookings.GuestRegistrationActivityMain"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.features.dashboard.MainActivity" />
        </activity>
        <activity
            android:name=".features.profile.ProfileActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.features.dashboard.MainActivity" />
        </activity>
        <activity
            android:name=".features.authentication.ChangePasswordActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.features.dashboard.MainActivity" />
        </activity>

        <activity
            android:name=".map.MapsActivity"
            android:label="@string/map"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.features.dashboard.MainActivity" />
        </activity>
        <activity android:name=".features.services.ServiceListActivity"/>
    </application>

</manifest>