<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tinnovat.app.daj">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BaseActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme" />
        <activity android:name=".Activity.TestActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.Activity.MainActivity" />
        </activity>
        <activity android:name=".Activity.ServicesActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.Activity.MainActivity" />
        </activity>
        <activity android:name=".Activity.ServiceBookingActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.Activity.ServicesActivity" />
        </activity>
        <activity android:name=".Activity.RegisterComplaintActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.Activity.MainActivity" />
        </activity>
        <activity android:name=".Activity.MyBookingActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.Activity.MainActivity" />
        </activity>
        <activity android:name=".Activity.OrderTaxiActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.Activity.MainActivity" />
        </activity>
        <activity android:name=".Activity.OrderFoodActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.Activity.MainActivity" />
        </activity>
        <activity android:name=".Activity.SurveillanceActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.Activity.MainActivity" />
        </activity>
        <activity android:name=".Activity.MyComplaintActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.Activity.MainActivity" />
        </activity>
        <activity android:name=".Activity.MyComplaintListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.Activity.MainActivity" />
        </activity>
        <activity android:name=".Activity.FuturePhaseInfoListActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.Activity.MainActivity" />
        </activity>
        <activity android:name=".Activity.FuturePhaseInfoDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.Activity.FuturePhaseInfoListActivity" />
        </activity>
        <activity android:name=".Activity.EventNewsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.Activity.EventNewsActivity" />
        </activity>
        <activity android:name=".Activity.EventDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.Activity.EventAndNewsActivity" />
        </activity>
        <activity android:name=".Activity.EventAndNewsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.Activity.MainActivity" />
        </activity>
        <activity android:name=".Activity.EmergencyContactActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.Activity.MainActivity" />
        </activity>
        <activity android:name=".Activity.GuestRegistrationActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.Activity.MainActivity" />
        </activity>
        <activity android:name=".Activity.ProfileActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.Activity.MainActivity" />
        </activity>
        <activity android:name=".Activity.ChangePasswordActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.Activity.MainActivity" />
        </activity>
        <activity android:name=".Activity.ResetPasswordActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tinnovat.app.daj.Activity.LoginActivity" />
        </activity>
    </application>

</manifest>